html, body {
  margin: 0;
  padding: 0;
  background-color: #101010;
}
canvas {
  display: block;
}

button {
    background-color: #101010;
    color: #ffffff;
    border-color: #420690;
}

iframe {
    display: none;
    position: absolute;
    left: 33%;
    top: 10%;
    border: none;
    overflow: hidden;
}


